<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=postBoardTitle%></title>
    <link rel="icon" href="styles/img/postboard.ico" type="image/icon type">
    <link
      href="https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=VT323&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
  </head>
  <body>
    <div style="margin-top: 10%" class="container text-center">
      <div class="row align-items-center mb-3">
        <div class="col">
          <div class="title-text"><%=postBoardTitle%></div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <a href="/insert" class="btn btn-primary">Insert Post</a>
        </div>
      </div>
      <div class="container text-start">
        <div class="row justify-content-evenly">
          <% let counter = 1; %> <% mongoResults.forEach(result=> { %>
          <div class="col-6">
            <div class="card mb-3">
              <div class="card-header">Post ID: <%=result._id%></div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <p><%=result.post%></p>
                  <footer class="blockquote-footer">
                    <%=result.username%>
                  </footer>
                </blockquote>
                <a href="/update/<%=result._id%>" class="btn btn-warning">Update</a>
                <a href="/delete/<%=result._id%>" class="btn btn-danger">Delete</a>
              </div>
            </div>
          </div>
          <% counter++; %> <% }); %>
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
